

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            {% if app.request.attributes.get('_route') starts with 'admin' %}
            <a class="navbar-brand" href="{{ url('admin.recipe.index') }}">
                    Administrateur
            </a>
            {% else %}
                <a class="navbar-brand" href="{{ url('app_home') }}">
                    Mon site
                </a>
            {% endif %}

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if app.request.attributes.get('_route') starts with 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.current_route starts with 'admin.recipe.' ? 'active' : '' }}" href="{{ url('admin.recipe.index') }}">Recettes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.current_route starts with 'category.' ? 'active' : '' }}" href="{{ url('admin.category.index') }}">Category</a>
                        </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route == 'app_home' ? 'active' : '' }}" href="{{ url('app_home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route starts with 'category.' ? 'active' : '' }}" href="{{ url('category.index') }}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route starts with 'product.' ? 'active' : '' }}" href="{{ url('product.index') }}">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.current_route starts with 'contact.' ? 'active' : '' }}" href="{{ url('contact.index') }}">Contact</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
